:root {
  --cor_1: #000000;
  --cor_2: #353535;
  --cor_3: #151f35;
  --cor_4: #248de9;
  --cor_5: #ffffff;
  --cor_6: #f6f7f9;
  --cor_7: #bbbbbb;
  --cor_8: #dedede;
  --cor_9: #0c78d7;
  --cor_10: #333333;
}
