/* Aplicando reset no CSS e aplicando fonte padrão */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  background: #F5F5F5;
}

